$primary: #82b440 !default;
$secondary: #484A4F !default;
$secondary2: #42494F !default;
$accent: #039BE5 !default;
$warning: #FBA902 !default;
$info: #17acc6 !default;
$info1: #4791AC !default;
$info2: #397790 !default;
$success: #82b440 !default;
$success1: #94BF5E !default;
$success2: #A0C772 !default;
$success3: #ACCE85 !default;
$error200: #e57373 !default;
$error: #e76b6a !default;
$error600: #ec5e5c !default;
$error800: #ee5350 !default;
$greyc0: #c0c0c0 !default;
$greyd0: #d0d0d0 !default;
$greye0: #e0e0e0 !default;
$greycc: #cccccc !default;
$greydd: #dddddd !default;
$greyee: #eeeeee !default;
$greyf6: #f6f6f6 !default;
$greyf9: #f9f9f9 !default;
$greyfa: #fafafa !default;
$black: #000000 !default;
$white: #FFFFFF !default;
$label: rgba(50, 50, 50, 0.75);