<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">

<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">

<link rel="import" href="../overview/over-view.html">
<link rel="import" href="../cse/new-case.html">

<dom-module id="customer-app">
    <template>
        <style>
            :host {
                --app-color-20: #18523e;
                --app-color-25: #1e5f52;
                --app-color-30: #245b65;
                --app-color-35: #2a6879;
                --app-color-40: #30748c;
                --app-color-45: #3681a0;
                --app-color-50: #3c8db3;
                --app-color-75: #9dced1;
                --app-color-80: #b1dbd7;
                --app-color-85: #c4eadd;
                --app-color-90: #d8f9e3;
                --app-color-95: #ebffe9;
                --app-color-100: #ffffef;
				--vaadin-text-field-default-width: 16em;
                color: var(--app-color-25);

                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            app-drawer {
                --app-drawer-content-container: {
                    background-image: linear-gradient(to bottom, #18324e, #30649c);
                    overflow-x: hidden;
                }

                ;
            }

            app-drawer app-header {
                background-image: linear-gradient(to up, #18324e, #30649c);
            }

            .nav-menu {
                background-color: var(--app-color-25);
                color: var(--app-color-100);
            }

            a {
                text-decoration: none;
                color: inherit;
                font-size: inherit;
            }

            .nav-menu>a {
                display: block;
                padding: 12px 16px;
                font-size: 20px;
                font-weight: 500;
            }

            .nav-menu>a.iron-selected {
                background-color: var(--app-color-35);
            }

            .main-header {
                border-bottom: 1px solid #ddd;
                background-color: var(--app-color-100);
            }

            .title-toolbar {
                @apply --layout-center-center;
                box-sizing: border-box;
            }

            .nav-title-toolbar {
                color: var(--app-color-100);
                width: 100vw;
            }

            .main-title-toolbar {
                width: 100%;
            }

            .title {
                line-height: 60px;
                font-size: 50px;
                font-weight: 800;
            }

            .category-page {
                min-height: 100vh;
            }

            [hidden] {
                display: none;
            }

            @media (max-width: 580px) {

                /* make title smaller to fit on screen */
                .title {
                    font-size: 40px;
                    padding-bottom: 16px;
                }
            }

            paper-icon-button.menu {
                padding: 0px;
                padding-right: 20px;
                height: 60px;
                width: 60px;
            }

            iron-icon.drawer {
                color: var(--app-color-100);
                padding: 0px 12px 8px 0px;
            }
        </style>

        <app-location route="{{route}}"></app-location>

        <app-route route="{{route}}" pattern="/:pageName" data="{{routeData}}">
        </app-route>

        <app-drawer-layout drawer-width="288px" responsive-width="808px" narrow="{{narrow}}">
            <!-- nav panel -->
            <app-drawer id="drawer" slot="drawer">
                <app-header-layout has-scrolling-region>
                    <app-header fixed slot="header">
                        <app-toolbar class="title-toolbar nav-title-toolbar">
                            <div class="title"></div>
                        </app-toolbar>
                    </app-header>
                    <iron-selector class="nav-menu" selected="{{selectedItem}}" attr-for-selected="key" on-iron-activate="_drawerSelected">
                        <template is="dom-repeat" items="[[menuItems]]">
                            <a name="[[item.pageName]]" key="[[item]]" href="#/[[item.pageName]]">
                                <template is="dom-if" if="[[_equal(item.pageName, 'over-view')]]">
                                    <iron-icon class="drawer" name="" icon="vaadin:dashboard"></iron-icon>
                                </template>
                                <template is="dom-if" if="[[_equal(item.pageName, 'new-case')]]">
                                    <iron-icon class="drawer" name="" icon="vaadin:globe"></iron-icon>
                                </template>
                                [[item.name]]</a>
                        </template>
                    </iron-selector>
                </app-header-layout>
            </app-drawer>

            <!-- main panel -->
            <app-header-layout>
                <app-header fixed effects="waterfall" class="main-header" slot="header">
                    <app-toolbar class="title-toolbar main-title-toolbar">
                        <vaadin-horizontal-layout style="width: 100%; height: 100%;">
                            <paper-icon-button class="menu" drawer-toggle icon="lumo:menu" hidden$="[[_shouldHideMenuButton(narrow)]]"></paper-icon-button>
                            <div class="title">
                                [[selectedItem.name]]
                            </div>
                        </vaadin-horizontal-layout>
                    </app-toolbar>
                </app-header>
                <iron-pages selected="[[selectedItem.pageName]]" attr-for-selected="name" fallback-selection="log-in" role="main">
                    <over-view name="over-view"></over-view>
                    <new-case name="new-case"></new-case>
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>
    <script>
        class CustomerApp extends Polymer.Element {
            static get is() {
                return 'customer-app';
            }
            static get properties() {
                return {
                    /* selectedItem: {type: Object, value: {name: 'Login'}}, */
                };
            }
            _shouldHideMenuButton(narrow) {
                return !narrow;
            }
            _drawerSelected() {
                if (!this.$.drawer.persistent)
                    this.$.drawer.close();
            }
            _equal(value1, value2) {
                return value1 === value2;
            }
        }
        customElements.define(CustomerApp.is, CustomerApp);
    </script>
</dom-module>