<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">

<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">

<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="../../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">

<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-item.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid-column.html">
<link rel="import" href="../../../bower_components/vaadin-split-layout/src/vaadin-split-layout.html">


<dom-module id="over-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                margin: .7em;
            }

            .subTitle {
                line-height: 1.4em;
                font-size: 1.4em;
                font-weight: 500;
                color: var(--app-color-35);
            }

            #dynamicContent {
                width: 100%;
                background-color: var(--app-color-90);
                min-height: 7em;
            }

            .padding {
                padding: 0.7em;

            }

            .stdem {
                min-width: 15em;
            }
        </style>

             <vaadin-grid id="grid" items="[[customers]]" height-by-rows>
                <vaadin-grid-column>
                    <template class="header">
                        Id
                    </template>
                    <template>
                        [[item.id]]
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Name
                    </template>
                    <template>
                        [[item.customerName]]
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Actions
                    </template>
                    <template>
                        <paper-icon-button icon="vaadin:edit" on-click="deleteItem"></paper-icon-button>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>

    </template>

    <script>
        class OverView extends Polymer.Element {
            static get is() {
                return 'over-view';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(OverView.is, OverView);
    </script>
</dom-module>