<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <data-source>
        <name>java:app/mysqlds</name>
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</class-name>
        <url>jdbc:mysql://localhost:3306/customer?useSSL=false</url>
        <user>appadmin</user>
        <password>admin123</password>
    </data-source>
    
</web-app>